.skin-card {
    border: 0.5px solid #695a6d;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

h2.skin-name {
    font-size: 1.25rem;
    margin: 0.5rem 0;
}

img.skin-image {
    width: auto;
    max-width: 100%;
    height: 50px;
    margin-bottom: 0.5rem;
}
