.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
    max-width: 1280px;
}

.header {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.search-bar {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.search-input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 67%;
}

.search-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #695a6d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.content-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.skins-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
    width: 100%;
}
