/* div {
    border: 1px solid #ccaaee;
} */

body {
    margin: 0;
    background: rgb(51, 51, 51);
    color: rgb(240, 240, 240);
}

.root {
    width: auto;
    display: flex;
    justify-content: center;
}
